[submodule "nvim-lspconfig"]
	path = nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "fzf-lua"]
	path = fzf-lua
	url = https://github.com/ibhagwan/fzf-lua.git
[submodule "tokyonight.nvim"]
	path = tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim.git
